//cores
$verde: #4C5913;
$cinza-escuro: #2A2C2B;
$laranja: #BFA365;
$cinza-claro: #9C9C9C;
$cinza-clarinho: #F1F1F1;
$texto-cinza: #757575;
$panel-background-color: #f6f6f6;

//margins
/* $service-box-top-margin: 40px; */

//fonts
$poppins-light: 300;
$poppins-regular: 400;
$poppins-medium: 500;
$poppins-semibold: 600;

$montserrat-light: 300;
$montserrat-regular: 400;
$montserrat-medium: 500;